@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,300&display=swap');

/* Whole body styling */
:root {
  --main-color: #5995fd;
  --main-bg-color: #009d63;
  --main-text-color: #5995fd;
  --second-text-color: #fff;
  --second-bg-color: #c1efde;
}
*{
  font-family: 'Poppins', sans-serif;
}

.primary-text {
  color: var(--main-text-color);
}
.second-text {
  color: var(--second-text-color);
}
.primary-bg {
  background-color: var(--main-color);
}
.secondary-bg {
  background-color: var(--second-bg-color);
}
.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  background: rgb(245, 245, 245);
}
/* End of body styling */


/* Sidebar styling */
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  background: #5995fd;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}
#sidebar-wrapper .list-group {
  width: 15rem;
}
.sidebar-brand{
  height: 90px;
  padding: 1rem 0rem 1rem 2rem;
  color: #fff;
}
.sidebar-brand span{
  display: inline-block;
  padding-right: 1rem;
  font-weight: bold;
  font-size: 23px;
}
.lg-btn button{
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: 1.1rem;
    padding-left: .2px;
    border: 1px solid var(--main-color);
}
/* End of sidebar styling */


/* Page content styling */
#page-content-wrapper {
  min-width: 100vw;
}
nav{
  box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
}
nav h2{
  font-weight: bold;
}
#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
#menu-toggle {
  cursor: pointer;
}
.list-group-item {
  border: none;
  padding: 20px 30px;
}
/* End of page content styling */


/* Media Query */
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
/* End of media Query */

