{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width={device-width}, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/64d58efce2.js"crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static '/css/styles.css' %}">
	<title>Login</title>
</head>
<body>
	<div class="container">
		<div class="forms-container">
			<div class="signin-signup">
				<!-- FORM INPUT -->
				{% if form.errors %}
				<p>There's something wrong with what you entered</p>
				{% endif %}
			
				{% if next %}
				<p>Hey, you can't access that page</p>
				{% endif %}
				<form action="{% url 'login' %}" method="POST" class="sign-in-form" autocomplete="false">
					{% csrf_token %}
					<img src="{% static 'images/logo.jpeg' %}" alt="" width="25%"><br>
					
					<h2 class="title">Sign in</h2>
					<div class="input-field">
						<i class="fas fa-user"></i>
						<!-- <input type="text" placeholder="Username"> -->
						<p> {{ form.username }}</p>
					</div>
					<div class="input-field">
						<i class="fas fa-lock"></i>
						<!-- <input type="password" placeholder="Password"> -->
						<p> {{ form.password }}</p>
					  </div>
					<p><input type="submit" class="btn" value="login"></p>
					<input type="hidden" name="next" value="{{ next }}" class="btn btn-primary">
				</form>
				<!-- End of form input -->
			</div>
		</div>

		<!-- Text in the login page and animation -->
		<div class="panels-container">
			<div class="panel left-panel">
			  	<div class="content">
					<h3>New here ?</h3>
					<p>
						Be sure to login into the Administration UI. It provides convenient shortcuts for common management tasks, and some server information.
					</p>
			  	</div>
			  	<img src="{% static '/images/log.svg' %}" class="image" alt="" />
			</div>
		</div>
	</div>
	<script src="{% static '/js/app.js' %}"></script>
</body>
</html>


