{% extends 'registration/base2.html'%}

{% block content %}
    <br>
    <table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
        <tr>
            <th>Member's Name</th>
            <th>Amount Saved</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    {% for save in saved %}
    <tr>
        <td>{{ save.members }}</td>
        <td>{{ save.amount }}</td>
        <td>{{ save.date }}</td>
        <td>
            <!-- <a href="/edit/{{ member.id }}"> <span class="btn btn-primary">Edit</span></a> -->
            <a href="/delete/{{ save.id }}" class="btn btn-danger" >Delete</a>
        </td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}